.background {
    background-image: url(../images/MeowthWallpaper.jpg);
    padding-top: 25px;
    padding-bottom: 75px;
}

.jumbotron {
    height: 40vh;
    background-size: cover;
  }
  
.jumbotron-other {
  background: url(/images/Pokeball1.png) no-repeat;
  background-size: cover;  
  min-height: fit-content;
  min-width: fit-content;
}

h1 {
    text-align: center;
    color: blanchedalmond;
    font-size: 275%;
    font-weight: bold;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: blanchedalmond;
    font-style: italic;
    padding-bottom: 35px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

h4 {
    color:white
}
buttons {
    color: blanchedalmond;
    font-size: 355%;
}

text {
    -webkit-text-stroke: 0.35px rgb(45, 39, 39);
}

p {
    font-size: 175%;
}

p4 {
    font-size: 175%;
    color:white;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
} 

.box1 {
    background-color: rgba(247, 243, 235, 0.571);
    color: rgb(14, 12, 12);
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px;
}

.box2 {
    background-color: rgba(0, 0, 0, 0.571);
    color: rgb(14, 12, 12);
    border-radius: 25px;
}

.bg1 {
    background-color: transparent;
}

.carousel-item {
    max-height: 75%;
    max-width: 1350px;
}


.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}
.footer {
    background-image: url(../images/PokeballBackground4.jpeg);
    padding-top: 5px;
    padding-bottom: 5px;
}