
.jumbotron {
    background-image: url(/images/PokeballLighterwide.jpg);
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
    background-image:no-repeat;
    height: 31.1vh;
  }
h1 {
    text-align: center;
    color: blanchedalmond;
    padding-top: 5px;
    font-size: 325%;
    font-weight: bold;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: blanchedalmond;
    font-style: italic;
    padding-bottom: 35px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

h4 {
    color:white
}
buttons {
    color: blanchedalmond;
    font-size: 355%;
}

text {
    -webkit-text-stroke: 0.35px rgb(45, 39, 39);
}

p {
    font-size: 175%;
}

p4 {
    font-size: 175%;
    color:white;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
} 

.box1 {
    background-color: rgba(247, 243, 235, 0.571);
    color: rgb(14, 12, 12);
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px;
}

.box2 {
    background-color: rgba(0, 0, 0, 0.571);
    color: rgb(14, 12, 12);
    border-radius: 25px;
}

.background {
    background-image: url(../images/GBCVector.jpg);
    padding-top: 25px;
    padding-bottom: 75px;
}

.bg1 {
    background-color: transparent;
}

.carousel-item {
    height: 450px;
    max-width: 1350px;
}


.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}
.footer {
    background-image: url(../images/PokeballBackground4.jpeg);
    padding-top: 5px;
    padding-bottom: 5px;
}