h1 {
    text-align: center;
    color: blanchedalmond;
    padding-top: 5px;
    font-size: 425%;
    font-weight: bold;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: blanchedalmond;
    font-style: italic;
    padding-bottom: 35px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

buttons {
    color: blanchedalmond;
    font-size: 355%;
}

text {
    -webkit-text-stroke: 0.35px rgb(45, 39, 39);
}

p {
    font-size: 175%;
}

.box1 {
    background-color: rgba(247, 243, 235, 0.571);
    color: rgb(14, 12, 12);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3;
    border-radius: 25px;
}

.background {
    background-image: url(../images/PokeballBackground2.jpeg);
    padding-top: 75px;
    padding-bottom: 200px;
}

.bg1 {
    background-color: transparent;
}

.carousel-item {
    height: 75%;
    max-width: 1350px;
    padding-bottom: 20px;
}

img {
    width: 90%;
    height: 95%;
    border-radius: 10px;
    object-fit: cover;
  }

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}
.footer {
    background-image: url(../images/PokeballBackground4.jpeg);
    padding-top: 5px;
    padding-bottom: 5px;
}