.gradient-custom {
    background: linear-gradient(to right, rgba(203, 17, 91), rgba(226, 228, 231))
}
.background {
    background-image: url(/images/PokeballBackground2.jpeg);
    padding-top: 150px;
    padding-bottom: 200px;
}